<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Really?</title>
</head>
<body>
    <h1>Something went wrong...</h1>
    <%= data.e %> 
    <p>Directing you to the main page now.</p> 
    <script>
        setTimeout(()=>{window.location = '/browse'}, 2000)
    </script>
</body>
</html>