<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="outer">
        <div class="submission">
            <form action="/submit" method="POST">
                <label for="typeName">Type Name: </label><br>
                <input type="text" id="typeName" name="typeName"><br>
                <label for="typeId">Type ID: </label><br>
                <input type="text" id="typeId" name="typeId"><br>
                <label for="ownerName">Owner: </label><br>
                <input type="text" id="ownerName" name="ownerName"> 
                <input type="submit" value="Submit" class="btn btn-light">
            </form>
        </div>
        <div class="list-group">
            <% for(let i of data) { %>
                <div class="list-group-item">
                    <%= i.typeName %>
                    <div class="detail">
                        Owner: <%= i.ownerName %><br>
                        TypeID: <%= i.typeId %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>