.outer{
    margin: 20px;
}
.submission{
    padding-bottom: 60px;
}
.list-group-item{
    overflow: hidden;
    height: 40px;
    transition: height 0.5s;
}
.list-group-item:hover{
    height: 130px;
}
body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.list-group {
    color: black;
}
.logo {
    margin: 10px;
    position: absolute;
    max-width: 64px;
}